@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Toastify__toast-container {
  pointer-events: none;
  z-index: 60 !important;
}

.Toastify__toast, .Toastify__close-button {
  pointer-events: auto;
}

.Toastify__toast-container .Toastify__toast:first-of-type {
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 6px;  
}

.Toastify__toast-container .Toastify__toast:not(:first-of-type) {
  margin-top: 8px; 
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 6px;  
}

@media (min-width: 768px) {
  .Toastify__toast-container .Toastify__toast:first-of-type {
    margin-top: 70px;
  }
}
